#container{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

input{
  border-radius: 10px;
  width:300px;
  height: 30px;
  justify-self:center;
}
button{
  border-radius: 10px;
  height: 30px;
  width: 100px;
  justify-self:center;
}
main{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

}
#resName{
  justify-self:center;
}
img{
  width:200px;
  border-radius: 300px;
  justify-self:center;
}
